
*{
	background-image: url("clima1.jpg");
}


.eltiempo{
	@include cajaNegra;
	color: #fff;
}

.diadelasemana{
	@include cajaNegra;
	color: #fff;
}

.mobile_weather{
	position:relative;
	left: 250px;
	top: -20px;
}

img{
	position:relative;
	top: 25px;

}

p{
	position:relative;
	top: 5px;
	
}