
body{
	background-image:url(../../doc/clima/climauno.jpg);
}


.eltiempo{
	@include cajaNegra;
	color: #fff;
	margin-top: 110px;
}

.diadelasemana{
	@include cajaNegra;
	color: #fff;
}

.mobile_weather{
	display:flex;
	flex-direction:row;
	justify-content:center;
}


.temperatura{
	display:flex;
	justify-content: center;
	position:relative;
	top: 2.5rem;
}

img{
	position:relative;
	top: 25px;

}

p{
	position:relative;
	top: 20px;
	font-family: $fontBree;
	font-size:20px;
	
}

.prediccion{
	height:78px;
	width: 630px;
	
	font-size: 20px;
	text-decoration: none !important; 
	list-style:none;
	opacity:0.5;
	background-color:#fff;
	display:flex;
	justify-content: center;
	align-items: center;
	color: $plomo;
}